{
  "plugins": [
    "macros",
    [
      "module-resolver",
      {
        "alias": {
          "@local": "./src"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        "dynamic-import-node"
      ]
    }
  }
}
