#boom-events-org-calendar__loader-element {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#boom-events-org-calendar__loader-iframe {
    width: 100%;
    max-width: 100%;
    min-height: 500px;
    border: 0;
    padding: 0;
}
